* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.calender{
  width: auto;
  align-items: center;
  text-align: center;
}
.todo{
  text-align: center;

}
.month {
  padding: 25px 25px;
  width: 100%;
  background: #B6A39E;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 10;
  padding: 10;
}

.month ul li {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  
}
.days li:hover{
  background: #B6A39E;
  
  color: white !important
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 15px;
  font-size:16px;
  color: #777;
  
}

/* Highlight today*/
.days li .active {
  /* padding: 5px; */
  background: #B6A39E;
  
  color: white !important
}